################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/__pycache__/abiturmenu.cpython-39.pyc
/__pycache__/sotrmenu.cpython-39.pyc
/__pycache__/studmenpages.cpython-39.pyc
/__pycache__/studmenu.cpython-39.pyc
/__pycache__/sotrudmenpages.cpython-39.pyc
/__pycache__/abiturpages.cpython-39.pyc
/__pycache__/tbot.cpython-39.pyc
/__pycache__/